body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #c9f5f0;
  margin-bottom: 10%;
  z-index: 6;
  position: relative;

}

#logo {
  text-align: left;
  margin-top: 2%;
  z-index: 1;
  position: absolute;
}

#content {
  padding: 1em;
  z-index: 2;
  position: absolute;
  margin-top: 150px;
  background-color: #c9f5f0;
  padding: 100px;

}

.box {
  border: 0px solid #999;
  background: #FCFCFC;
  padding: 1em;
  margin-bottom: 0.5em;
}

.welcome {
  text-align: center;
}

h3 {
  font-size: 1.5em;

}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}


/* TODO - Add your own styles here */
 
.me1 {
  font-size: 2em;
  z-index: 5;
  position: absolute;
  text-align: left;
  margin-top: 100px; 
  margin-left: 100px;
}

.profile-section box {
  text-align: right;
  z-index: 3;
}
.imgDivpro {
  margin-top: 20px;
      z-index: 4;
    position: absolute;
   margin-left: 80%;
   padding: 20px;



}